@import url(./fonts.css);
@import url(./reset.css);
#root {
  width: 100%;
}
#root #wrap {
  width: 100%;
}
#root #wrap .wrap-gap {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  background: #1B1546;
}
#root #wrap .wrap-gap .main-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
}
#root #wrap .wrap-gap .main-wrap .content-gap {
  width: 100%;
  margin: auto;
  padding: 0 80px 0 80px;
}
#root #wrap .wrap-gap .main-wrap .content-gap .content-wrap {
  width: 100%;
}
#root #wrap .wrap-gap .main-wrap .content-gap .content-wrap .logo-image {
  width: 100%;
  padding: 0 0 60px 0;
}
#root #wrap .wrap-gap .main-wrap .content-gap .content-wrap .logo-image img {
  width: 100%;
}
#root #wrap .wrap-gap .main-wrap .content-gap .content-wrap .buttons {
  width: 100%;
  padding: 0 10% 17px 10%;
}
#root #wrap .wrap-gap .main-wrap .content-gap .content-wrap .buttons .button-wrap {
  padding: 15px 0;
  width: 100%;
}
#root #wrap .wrap-gap .main-wrap .content-gap .content-wrap .buttons .button-wrap a {
  display: block;
  width: 100%;
  background: #322D59;
  color: #fff;
  font-size: 35px;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
  transition: all 0.3s;
}
#root #wrap .wrap-gap .main-wrap .content-gap .content-wrap .buttons .button-wrap a:hover {
  background: rgba(101, 97, 137, 0.4862745098);
}
#root #wrap .wrap-gap .vote-wrap #header {
  width: 100%;
  background: #322D59;
}
#root #wrap .wrap-gap .vote-wrap #header .header-gap {
  width: 100%;
  padding: 10px 20px;
}
#root #wrap .wrap-gap .vote-wrap #header .header-gap .header-wrap {
  width: 100%;
  display: flex;
}
#root #wrap .wrap-gap .vote-wrap #header .header-gap .header-wrap .logo {
  display: flex;
  align-items: center;
}
#root #wrap .wrap-gap .vote-wrap #header .header-gap .header-wrap .logo a {
  display: block;
  color: #fff;
  font-size: 20px;
}
#root #wrap .wrap-gap .vote-wrap #header .header-gap .header-wrap .logo a img {
  width: 200px;
}
#root #wrap .wrap-gap .vote-wrap #header .header-gap .header-wrap .reloading {
  margin: 0 0 0 auto;
}
#root #wrap .wrap-gap .vote-wrap #header .header-gap .header-wrap .reloading .reloading-wrap {
  cursor: pointer;
}
#root #wrap .wrap-gap .vote-wrap #header .header-gap .header-wrap .reloading .reloading-wrap i {
  font-size: 30px;
  cursor: pointer;
}
#root #wrap .wrap-gap .vote-wrap .team-pick {
  width: 100%;
  padding: 40px 11.1111%;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .title {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .title .title-gap {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .title .title-gap .title-wrap {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .title .title-gap .title-wrap p {
  text-align: center;
  padding: 5px 0;
  font-size: 25px;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .counting {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .counting .counting-gap {
  width: 100%;
  padding: 15px 0 5px 0;
  display: flex;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .counting .counting-gap .counting-wrap {
  height: 15px;
  margin: 0 auto;
  display: flex;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .counting .counting-gap .counting-wrap .kok {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 10px;
  margin: 0 3px;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .search {
  padding: 15px 5px;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .search input {
  width: 100%;
  background: #322D59;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .search input::-moz-placeholder {
  color: #fff;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .search input::placeholder {
  color: #fff;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names .names-gap {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names .names-gap .names-wrap {
  width: 100%;
  display: flex;
  flex-flow: wrap;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names .names-gap .names-wrap .boys-name {
  width: 25%;
  padding: 5px;
  position: relative;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names .names-gap .names-wrap .boys-name label {
  text-align: center;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names .names-gap .names-wrap .boys-name label input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 60px;
  padding: 5px 0;
  border-radius: 5px;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names .names-gap .names-wrap .boys-name label input[type=checkbox]:hover {
  background: rgba(255, 255, 255, 0.0549019608);
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names .names-gap .names-wrap .boys-name label input[type=checkbox].korea {
  border: 2px solid #3395FE;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names .names-gap .names-wrap .boys-name label input[type=checkbox].korea:checked {
  background: #3395FE;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names .names-gap .names-wrap .boys-name label input[type=checkbox].global {
  border: 2px solid #D74696;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names .names-gap .names-wrap .boys-name label input[type=checkbox].global:checked {
  background: #D74696;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names .names-gap .names-wrap .boys-name label .labeling {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  color: #fff;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names .names-gap .names-wrap .boys-name label .labeling p span {
  font-size: 17px;
}
#root #wrap .wrap-gap .vote-wrap .team-pick .select .names .names-gap .names-wrap .boys-name label .labeling p span:nth-child(2) {
  font-size: 11px;
}
#root #wrap .wrap-gap .vote-wrap .one-pick {
  width: 100%;
  padding: 40px 11.1111%;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .title {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .title .title-gap {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .title .title-gap .title-wrap {
  width: 100%;
  padding-bottom: 20px;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .title .title-gap .title-wrap p {
  text-align: center;
  padding: 5px 0;
  font-size: 25px;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .counting {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .counting .counting-gap {
  width: 100%;
  padding: 15px 0;
  display: flex;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .counting .counting-gap .counting-wrap {
  margin: 0 auto;
  display: flex;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .counting .counting-gap .counting-wrap .kok {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 10px;
  margin: 0 3px;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .search {
  padding: 15px 5px;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .search input {
  width: 100%;
  background: #322D59;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .search input::-moz-placeholder {
  color: #fff;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .search input::placeholder {
  color: #fff;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names .names-gap {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names .names-gap .names-wrap {
  width: 100%;
  display: flex;
  flex-flow: wrap;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names .names-gap .names-wrap .boys-name {
  width: 25%;
  padding: 5px;
  position: relative;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names .names-gap .names-wrap .boys-name label {
  text-align: center;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names .names-gap .names-wrap .boys-name label input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 60px;
  padding: 5px 0;
  border-radius: 5px;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names .names-gap .names-wrap .boys-name label input[type=checkbox]:hover {
  background: rgba(255, 255, 255, 0.0549019608);
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names .names-gap .names-wrap .boys-name label input[type=checkbox].korea {
  border: 2px solid #3395FE;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names .names-gap .names-wrap .boys-name label input[type=checkbox].korea:checked {
  background: #3395FE;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names .names-gap .names-wrap .boys-name label input[type=checkbox].global {
  border: 2px solid #D74696;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names .names-gap .names-wrap .boys-name label input[type=checkbox].global:checked {
  background: #D74696;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names .names-gap .names-wrap .boys-name label .labeling {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  color: #fff;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names .names-gap .names-wrap .boys-name label .labeling p span {
  font-size: 17px;
}
#root #wrap .wrap-gap .vote-wrap .one-pick .select .names .names-gap .names-wrap .boys-name label .labeling p span:nth-child(2) {
  font-size: 11px;
}
#root #wrap .wrap-gap .vote-wrap .check {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .check .check-gap {
  width: 100%;
  padding: 0 11.1111%;
}
#root #wrap .wrap-gap .vote-wrap .check .check-gap .check-wrap {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .check .check-gap .check-wrap p {
  font-size: 20px;
  padding: 15px 0;
  line-height: 25px;
}
#root #wrap .wrap-gap .vote-wrap .all-done {
  width: 100%;
}
#root #wrap .wrap-gap .vote-wrap .all-done .done-gap {
  width: 100%;
  padding: 20px 11.1111% 11.1111% 11.1111%;
}
#root #wrap .wrap-gap .vote-wrap .all-done .done-gap .done-wrap {
  width: 100%;
  display: flex;
}
#root #wrap .wrap-gap .vote-wrap .all-done .done-gap .done-wrap button {
  padding: 20px 90px;
  background: #fff;
  font-size: 20px;
  margin: 0 auto;
  background: #322D59;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s;
}
#root #wrap .wrap-gap .vote-wrap .all-done .done-gap .done-wrap button:disabled {
  background: #1B1546;
  color: #1B1546;
}
#root #wrap .wrap-gap .vote-wrap .all-done .done-gap .done-wrap button:disabled:hover {
  background: #1B1546;
}
#root #wrap .wrap-gap .vote-wrap .all-done .done-gap .done-wrap button:hover {
  background: rgba(101, 97, 137, 0.4862745098);
}
#root #wrap .wrap-gap .result-wrap #header {
  width: 100%;
  background: #322D59;
}
#root #wrap .wrap-gap .result-wrap #header .header-gap {
  width: 100%;
  padding: 10px 20px;
}
#root #wrap .wrap-gap .result-wrap #header .header-gap .header-wrap {
  width: 100%;
  display: flex;
}
#root #wrap .wrap-gap .result-wrap #header .header-gap .header-wrap .logo {
  display: flex;
  align-items: center;
}
#root #wrap .wrap-gap .result-wrap #header .header-gap .header-wrap .logo a {
  display: block;
  color: #fff;
  font-size: 20px;
}
#root #wrap .wrap-gap .result-wrap #header .header-gap .header-wrap .logo a img {
  width: 200px;
}
#root #wrap .wrap-gap .result-wrap #header .header-gap .header-wrap .reloading {
  margin: 0 0 0 auto;
}
#root #wrap .wrap-gap .result-wrap #header .header-gap .header-wrap .reloading .reloading-wrap {
  cursor: pointer;
}
#root #wrap .wrap-gap .result-wrap #header .header-gap .header-wrap .reloading .reloading-wrap i {
  font-size: 30px;
  cursor: pointer;
}
#root #wrap .wrap-gap .result-wrap .result-gap {
  width: 100%;
  padding: 40px 11.111111%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .title {
  width: 100%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .title .title-gap {
  width: 100%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .title .title-gap .title-wrap {
  width: 100%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .title .title-gap .title-wrap p {
  text-align: center;
  padding: 5px 0;
  font-size: 25px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents {
  width: 100%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap {
  width: 100%;
  padding: 20px 0;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap {
  width: 100%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .infos {
  width: 100%;
  display: flex;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .infos .times {
  width: 50%;
  font-size: 20px;
  line-height: 40px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .infos .filter-box {
  display: flex;
  width: 50%;
  align-items: right;
  justify-content: right;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .infos .filter-box select {
  width: 40%;
  height: 40px;
  padding: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #322D59;
  color: #fff;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking {
  width: 100%;
  padding: 20px 0;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking {
  width: 100%;
  display: flex;
  flex-flow: wrap;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li {
  width: 100%;
  padding: 5px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li .content-wrap {
  width: 100%;
  padding: 5px;
  background: #322D59;
  border-radius: 5px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li .content-wrap p {
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  width: 25%;
  text-align: center;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li .content-wrap p:nth-child(1) {
  width: 15%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li .content-wrap p:nth-child(2) {
  font-weight: 700;
  font-size: 20px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li .content-wrap p:nth-child(3) {
  width: 35%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li.korea p:nth-child(2) {
  color: #3395FE;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li.global p:nth-child(2) {
  color: #D74696;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(1) {
  width: 33.333%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(1) .content-wrap {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(1) .content-wrap p {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(1) .content-wrap p:nth-child(1) {
  font-size: 25px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(1) .content-wrap p:nth-child(2) {
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(1).korea .content-wrap {
  background: #3395FE;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(1).global .content-wrap {
  background: #D74696;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(2) {
  width: 33.333%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(2) .content-wrap {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(2) .content-wrap p {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(2) .content-wrap p:nth-child(1) {
  font-size: 25px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(2) .content-wrap p:nth-child(2) {
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(2).korea .content-wrap {
  background: #3395FE;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(2).global .content-wrap {
  background: #D74696;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(3) {
  width: 33.333%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(3) .content-wrap {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(3) .content-wrap p {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(3) .content-wrap p:nth-child(1) {
  font-size: 25px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(3) .content-wrap p:nth-child(2) {
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(3).korea .content-wrap {
  background: #3395FE;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(3).global .content-wrap {
  background: #D74696;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(4) {
  width: 33.333%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(4) .content-wrap {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(4) .content-wrap p {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(4) .content-wrap p:nth-child(1) {
  font-size: 25px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(4) .content-wrap p:nth-child(2) {
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(4).korea .content-wrap {
  background: #3395FE;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(4).global .content-wrap {
  background: #D74696;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(5) {
  width: 33.333%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(5) .content-wrap {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(5) .content-wrap p {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(5) .content-wrap p:nth-child(1) {
  font-size: 25px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(5) .content-wrap p:nth-child(2) {
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(5).korea .content-wrap {
  background: #3395FE;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(5).global .content-wrap {
  background: #D74696;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(6) {
  width: 33.333%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(6) .content-wrap {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(6) .content-wrap p {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(6) .content-wrap p:nth-child(1) {
  font-size: 25px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(6) .content-wrap p:nth-child(2) {
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(6).korea .content-wrap {
  background: #3395FE;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(6).global .content-wrap {
  background: #D74696;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(7) {
  width: 33.333%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(7) .content-wrap {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(7) .content-wrap p {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(7) .content-wrap p:nth-child(1) {
  font-size: 25px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(7) .content-wrap p:nth-child(2) {
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(7).korea .content-wrap {
  background: #3395FE;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(7).global .content-wrap {
  background: #D74696;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(8) {
  width: 33.333%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(8) .content-wrap {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(8) .content-wrap p {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(8) .content-wrap p:nth-child(1) {
  font-size: 25px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(8) .content-wrap p:nth-child(2) {
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(8).korea .content-wrap {
  background: #3395FE;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(8).global .content-wrap {
  background: #D74696;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(9) {
  width: 33.333%;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(9) .content-wrap {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(9) .content-wrap p {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(9) .content-wrap p:nth-child(1) {
  font-size: 25px;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(9) .content-wrap p:nth-child(2) {
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(9).korea .content-wrap {
  background: #3395FE;
}
#root #wrap .wrap-gap .result-wrap .result-gap .contents .contents-gap .contents-wrap .ranking .boys-ranking li:nth-child(9).global .content-wrap {
  background: #D74696;
}
#root #wrap .wrap-gap #modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
}
#root #wrap .wrap-gap #modal .container {
  width: 560px;
  height: 420px;
  margin: auto;
  padding: 80px;
  background: #120A30;
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.5);
}
#root #wrap .wrap-gap #modal .container > ul {
  width: 100%;
}
#root #wrap .wrap-gap #modal .container > ul > li {
  width: 100%;
  padding: 50px 0;
}
#root #wrap .wrap-gap #modal .container > ul > li h2 {
  text-align: center;
  font-size: 35px;
}
#root #wrap .wrap-gap #modal .container .button-box {
  width: 100%;
  display: flex;
  flex-flow: wrap;
}
#root #wrap .wrap-gap #modal .container .button-box a {
  width: 90%;
  text-align: center;
  background: #322D59;
  margin: 10px auto;
  padding: 15px 0;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s;
}
#root #wrap .wrap-gap #modal .container .button-box a:hover {
  background: rgba(101, 97, 137, 0.4862745098);
}